# Auto detect text files and perform LF normalization
* text=auto
*.wmv filter=lfs diff=lfs merge=lfs -text
*.wmv !text !filter !merge !diff
tradução/Movies/AttractMode.wmv filter=lfs diff=lfs merge=lfs -text
tradução/Movies/RockStar.wmv filter=lfs diff=lfs merge=lfs -text
